*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background: #212121;
    margin: 0;
}

.container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: xx-large;
    color: #fff;
}

#clock{
    background-color:chocolate;
    margin-top: 20px;
    padding: 15px 45px;
    color: #fff;
    border: 1px solid chocolate;
    border-radius: 8px;
    font-size: 20px;
}
