*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    
}

.container{
    text-align: center;
}

#height,
#weight {
    width: 20%;
    padding: 15px;
    margin-top:  30px;
    outline: none;
    border-radius: 10px;
    border:2px solid #f4a63c;
    background-color:azure;
    
}

  label{
    font-size: 18px;
  }

button{
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f4a63c;
    color: white;
    border: 2px solid  #f4a63c;
    text-align: center;
    transition: all .3s ease-in;
    border-radius: 8px;
    font-size: 16px;
}

#results{
    font-size: 18px;
    padding: 20px;
}